<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <!-- <link rel="stylesheet" href="../assets/style.css"> -->
    <style>
     
    </style>
</head>

<body>
  <div id="app">
    <input v-model="addItemValue">
    <p>{{ addItemValue }}</p>
    <button v-on:click="addItemFunction()">アイテムを追加する</button>
   <ul>
     <li v-for="(item, itemIndex) in items" :key="itemIndex">
       {{ item }}
     </li>
   </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
   const app = new Vue ({
     el: '#app',
     data: {
       items: ["りんご", "みかん", "ばなな"],
       addItemValue: ''
     },
     methods: {
      addItemFunction: function() {
        this.items.push(this.addItemValue)
        this.addItemValue = ""
      }
     }
   })
  </script>
</body>

</html>